#map { 
    height : 400px;
    width : 100%;
    margin-bottom: 30px;
   
}


.address_components,
.formatted_address ,
.geometry ,
.location_type ,
.viewport ,
.place_id ,
.plus_code ,
.types{
    display:flex;   
}

.container h1{
    margin: 25px;
}

.string-wrapper{
    display:flex;
    justify-content: center;
    background-color: yellowgreen;
    padding: 8px;
    border-radius:8px;
    margin-right: 5px;   

}

.object-wrapper{
flex:1;
}

.address_components .object-wrapper{
    flex:1;
    margin-bottom: 10px;
}

/* .object-wrapper .object-item:last-of-type {
    margin-bottom:15px;

} */

.object-item{
    display: flex;   
}





.array-item{
    display: flex;
    background-color: orchid;
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    margin-right: 5px;
   
}

.array-wrapper{
    display:flex;
    /* flex-direction: column; */
    /* background-color: royalblue; */

}

.address_components .array-wrapper{
    display:flex;
    flex-direction: column;
    /* background-color: royalblue;  */
}

.address_components  .array-wrapper2{
    display:flex;
     flex-direction:row; 
    /* background-color: royalblue;  */
}

.key{
    display:flex;
    flex-direction: column;
    flex : 1 ;
    background-color: crimson;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    /* border:1px solid black; */
    border-radius:8px;
    margin: 0 5px 5px 0;   
}



.value { 
    flex : 3  ;
    margin-bottom:5px;
    justify-content: center;
    align-items: center;



   
}

.location{
    display:flex;

}

.text-wrapper{
   flex-basis:20%;
    background-color: darkgreen;
    color:white;
    text-align: center;
    border-radius: 10px;
}

/* form */
.form-group{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;

}

.form-control{
    width : 50%;
    margin-right: 10px;
  
}

.btn{
}

div{
    
color: white;
text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
/* box-shadow: 2px 2px 5px grey; */
    
}

