.formatted_address , .place_id , .address_components{
    display:flex;
    /* background-color: mediumaquamarine; */

}

.plus_code{
    
    display:flex;
    /* background-color: mediumaquamarine; */
}
.geometry{
    display:flex;
    /* background-color: mediumaquamarine; */
}



.wrapper{
    display:flex;
     background-color: white; 
    flex:1;
    padding:5px;
}

.wrapper-value{
    display:flex;
    /* background-color: lightgray; */
    flex:1;
    padding:5px;
}



.wrapper-array{
    display:flex;
    /* background-color: lightgray; */
    flex:1;
}

.wrapper-array-item{
    display:flex;
    /* background-color: lightgray; */
    flex:1;
    margin-bottom:3px;
}

.toto{
    flex:3;
    display:flex;
    flex-direction: column;
}

/* .wrapper-location-type{
    display:flex;
    height : 50px;
} */

.key{
flex:1;
background-color:#85c4bb;
font-weight: bold;
color:#958673;
text-align: center;
line-height: 50px;
margin-right: 5px;
 /* justify-self: center; */
  /* border-bottom: 5px solid red; */
  /* Align items vertically */
  align-items: center;

  /* Align items horizontally */
  justify-content: center;
}

.key-n-e , .key-s-w{
    flex: 1;
    background-color: #85c4bb;
    font-weight: bold;
    color: #958673;
    text-align: center;
    line-height: 115px;
    margin-right: 5px;
    height: 115px;
    }

.key-array{
    flex:1;
    background-color:yellow;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
    border-bottom: 1px solid black;
    color:black;
    }

.key-2{
    flex:1;
    background-color: #85c4bb;
    font-weight: bold;
    color:#958673;
    text-align: center;
    line-height: 100px;
    margin-right: 5px;

    }

    .key-4{
        flex:1;
        background-color: #85c4bb;
        font-weight: bold;
        color:#958673;
        text-align: center;
        line-height: 200px;
        margin-right: 5px;
    
        }

    .key-5{
        flex:1;
        background-color: #85c4bb;
        font-weight: bold;
        color:#958673;
        text-align: center;
        line-height: 360px;
        margin-right: 5px;
    
        }

.value{
display:flex;
flex-direction: column;
flex:3;
background-color:#fcbd56;
text-align: center;
line-height: 50px;
color:#958673;
}

.value-array{
    display:flex;
    flex-direction: column;
    flex:3;
    /* background-color:lightseagreen; */
    text-align: center;
    line-height: 50px;
    color:
    #958673;
    
    
    }





  

